<div class="welcome-container">

  <%= image_tag "ygd-logo-lg.png" %>
  <div id="livestream-container">
    <h1>Tune in Monday, December 14 for my Doula Chat! </h1>
    <h1>It starts at 8pm Eastern, 7pm Central.</h1>
    <iframe width="560" height="315" src="//www.youtube.com/embed/nQYVX8ca-6Q" frameborder="0" allowfullscreen></iframe>
  </div>
  <h1>Welcome!</h1>
  <h2>I'm a postpartum Doula, prenatal yogi, lactation consultant, and nutritionist. 
  <h2>If you're near Chicago, I'm near you. How can I help?</h2>
  <h2>To schedule a free consultation, please use one of the contact links below.</h2>
  <h2>Thanks!</h2>
  <div id="kellie-pic-container">
    <%= image_tag "kellie-face.png", id: "kellie-pic" %>
  </div>
  <h2>~ Kellie Greene, Your Greene Doula</h2>

  <div id="contact-info">
    <p><%= mail_to("yourgreenedoula@gmail.com", name = "Email: yourgreenedoula@gmail.com", subject: "I found you at yourgreenedoula.com...hi!") %></p>
    <p><a href="https://www.facebook.com/kellie.greene.ombellies">Facebook: Kellie Greene</a></p>
    <p><a href="https://instagram.com/yourgreenedoula/">Instagram: @yourgreenedoula</a></p>
    <p><a href="https://twitter.com/agreenedoula">Twitter: @agreenedoula</a></p>
  </div>

  <h3>If this site were a baby, it would still be in the first trimester. Expect more information here soon. Thanks for stopping by!</h3>
</div>
