<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @visitor.first_name %>!</h1>
    <p>
      I've received your email, and I'll respond as soon as I can. <br>
    </p>
    <p>
      In the meantime, here's a great summary of <a href="http://www.dona.org/PDF/positionpaper_PPdoula_083011.pdf">the postpartum doula's role in maternity care,</a> from the experts at DONA International.
    </p>
    <p>Thanks again for visiting <%= @url %>. Have a great day!</p> <br>
    <p>Kellie Greene</p>
    <p>Your Greene Doula</p>
    <p>yourgreenedoula@gmail.com</p>
  </body>
</html>