// Place all the styles related to the visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-visitor-container {
  margin-top: 50px;
  margin-left: 20px;
}

#visitor-email label {
  margin-top: 8px;
  margin-bottom: -3px;
  display: block;
}

